Name:
= @restaurant.name
%br
Description:
= @restaurant.description
%p
- @sum = 0
- @restaurant.reviews.each do |review|
  = ("Review: #{review.thought}") if @restaurant.reviews.any?
  = ("Rating: #{review.rating}") if @restaurant.reviews.any?
  %br
- if (@restaurant.reviews.any?)
  Average Rating: "#{@restaurant.average_rating}"
