Name:
= @restaurant.name
%br
Description:
= @restaurant.description
%p
- @sum = 0
- @restaurant.reviews.each do |review|
  %p= ("Review: #{review.thought}") if @restaurant.reviews.any?
  %p= link_to 'Endorse Review'
  %p= pluralize review.endorsements.length, "endorsement#{'s' if review.endorsements.count != 1}"
  = "Rating: #{review.endorsements}"
  %br
  %p= ("Rating: #{review.rating}") if @restaurant.reviews.any?
  %br
- if (@restaurant.reviews.any?)
  Average Rating: #{star_rating(@restaurant.average_rating)}
